html, body {
  font-family: 'Inter', sans-serif;
  background-color: #FAFAFA;
}

/* Desktop Typography */
.desktop-h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 72px; /* 1.125x */
  letter-spacing: -1px;
}

.desktop-h2 {
  font-size: 44px;
  font-weight: bold;
  line-height: 52px; /* 1.18x */
  letter-spacing: -0.5px;
}

.desktop-h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px; /* 1.22x */
  letter-spacing: -0.25px;
}

.desktop-h4 {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px; /* 1.28x */
  letter-spacing: 0;
}

.desktop-h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px; /* 1.36x */
  letter-spacing: 0;
}

.desktop-h6 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px; /* 1.44x */
  letter-spacing: 0;
}

.desktop-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 1.625x */
  letter-spacing: 0;
}

.desktop-body-s {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; /* 1.57x */
  letter-spacing: 0.25px;
}

.desktop-body-xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; /* 1.5x */
  letter-spacing: 0.4px;
}

.desktop-button {
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0;
}


/* Tablet Typography */
.tablet-h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: -1px;
}

.tablet-h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: -0.5px;
}

.tablet-h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: -0.25px;
}

.tablet-h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
}

.tablet-h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
}

.tablet-h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.tablet-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

.tablet-body-s {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.tablet-body-xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.4px;
}

.tablet-button {
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0;
}


/* Mobile Typography */
.mobile-h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: -1px;
}

.mobile-h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
  letter-spacing: -0.5px;
}

.mobile-h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.25px;
}

.mobile-h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0;
}

.mobile-h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0;
}

.mobile-h6 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
}

.mobile-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
}

.mobile-body-s {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.mobile-body-xs {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.4px;
}

.mobile-button {
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0;
}

.text-center {
  text-align: center;
}



/* Colours */
.white {
  color: white;
}

.black {
  color: black;
}

.light-black {
  color: #333333;
}

.grey {
  color: #F6F6F6;
}

.blue {
  color: #0081FF;
}
/* Colours */